
        <!--menu navbar-->
        {{> navbar }}


        <!--main content -->
        <div class="bg-light-subtle content-box flex-fill container-fluid">

            <div class="mb-3">
                <span class="content-title">
                    {{>page_title}}
                </span>
            </div>
            <hr>

            {{#if error.length}}
            <div class="mb-3 alert alert-danger" role="alert">
                {{error}}
            </div>
            {{else}}
            {{#if message.length}}
            <div class="mb-3 alert alert-success" role="alert">
                {{message}}
            </div>
            {{/if}}
            {{/if}}

            <div class="container">
                <div class="row">
                    <div class="mx-auto col-lg-6 col-12 p-5">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">

                                <form method="post" action="/admin/author/edit">
                                    <input type="hidden" name="id" id="id" value="{{author.id}}">
                                    <div class="mb-3">
                                        <label for="name" class="form-label">Author</label>
                                        <input type="text" id="name" class="form-control" name="name"
                                            placeholder="Author" value="{{author.name}}">
                                    </div>
                                    <input type="hidden" id="slug" name="slug" value="{{author.nationality}}">
                                    <button type="submit" class="btn btn-outline-success"> <i
                                            class="fa-solid fa-plus me-"></i>
                                        <span>Guardar</span> </button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>




{{#if success}}
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{success}}.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>
{{else}}{{/if}}


<script>

    document.addEventListener("DOMContentLoaded", function () {
        const authorNameInput = document.getElementById("name");
        const authorNationalityInput = document.getElementById("author");

        categoryNameInput.addEventListener("input", function () {
            let nationality = authorNameInput.value
                .toLowerCase()
                .normalize("NFD").replace(/[\u0300-\u036f]/g, "") // Remove acentos
                .replace(/\s+/g, "-") // Substitui espaços por hífens
                .replace(/[^a-z0-9-]/g, "") // Remove caracteres especiais
                .replace(/-+/g, "-") // Substitui múltiplos hífens por um único
                .trim();

            authorNationalityInput.value = nationality;
        });
    });

    document.querySelector("staticBackdropLabel", () => {

    })

    const openDialogBtn = document.getElementById("openDialogBtn");
    const closeDialogBtn = document.getElementById("closeDialogBtn");
    const myDialog = document.getElementById("staticBackdrop");

    // Evento para abrir o dialog
    openDialogBtn.addEventListener("click", () => {
        myDialog.showModal(); // Abre no modo modal
    });

    // Evento para fechar o dialog
    closeDialogBtn.addEventListener("click", () => {
        myDialog.close();
    });

</script>